@font-face {
  font-family: Intro-Book;
  src: url(src/fonts/Intro-Book.otf);
}

@font-face {
  font-family: Intro-Bold;
  src: url(src/fonts/Intro-Bold.ttf);
}

html {
  font-family: Intro-Book;
}

header .img-wrapper {
  background-image: url(src/img/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-top: -0.9rem;
}

.header .img-wrapper img {
  margin: 3rem 0;
}

.navbar {
  font-size: 1.125rem;
  background-color: #232c3a;
  padding: 1rem 0;
}

.navbar a {
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  padding: 1rem 1.8rem;
  color: white;
}

.navbar a:link,
.navbar a:visited {
  text-decoration: none;
  color: white;
}

.navbar a:focus {
  outline: none;
}

.navbar a:hover {
  border-bottom: 0.3rem solid white;
  padding-bottom: .6rem;
}


/* does it work?
/* .navbar a:link {
  border-bottom: 0.3rem solid #008033;
  padding-bottom: .6rem;
}
 */

.navbar .burger-link {
  display: none;
}

.navbar span {
  display: inline-block;
}

@media (max-width: 1153px) {
  .navbar span:last-child {
    margin-top: 1.3rem;
  }
}

@media (max-width: 656px) {
  .header .img-wrapper {
    display: none;
    margin-top: -1rem;
  }
  .navbar a {
    display: none;
  }
  .navbar a:hover {
    border: none;
    padding-bottom: 0;
  }
  .navbar span:first-child {
    float: left;
    font-size: 1.2rem;
  }
  .navbar .burger-link {
    display: inline-block;
    padding: 0;
    padding-left: .7rem;
  }
  footer .navbar {
    display: none;
  }
}

.searcher-wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
}

.searcher-wrapper:hover .searcher-input {
  -webkit-box-shadow: 0 0 .2rem #232c3a;
  -moz-box-shadow: 0 0 .2rem #232c3a;
  box-shadow: 0 0 .2rem #232c3a;
}

.searcher-btn-wrapper {
  background-color: #f8f8f8;
  border: .1rem solid #f8f8f8;
  padding-top: 0.5rem;
}

.searcher-input {
  background-color: #f8f8f8;
  width: 108.7%;
  height: 100%;
  border: .1rem solid #f8f8f8;
  padding-left: 1.1rem;
  margin-right: 0;
  font-size: 1.3rem;
}

.searcher-submit-btn {
  background-color: #f8f8f8;
  border: none;
  text-align: center;
}

.searcher-submit-btn img {
  padding: .5rem 0;
}

.main,
.banners {
  margin-top: 1.8rem;
}

.text-under-img-wrapper {
  position: relative;
  height: 100%;
}

.text-under-img-wrapper > img {
  width: 100%;
  margin-bottom: -.27rem;
}

.text-under-img-wrapper > div {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

div[class*="banner-left"],
div[class*="banner-right"] {
  margin-bottom: 1.3rem;
}

div[class*="banner-center"] {
  padding: 0;
}

.banner-content {
  padding-left: 0.3rem; 
  padding-right: 0.3rem; 
}

.banner-header {
  font-size: 1.3rem;
  font-family: Intro-Bold;
  text-transform: uppercase;
}

.banner-left-top {
  background-color: #f8f8f8;
}

.banner-left-top .banner-text {
  display: inline-block;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.banner-left-center {
  background-color: #1c1c40;
  color: white;
  padding: 1rem 1.5rem;
}

.banner-left-center .angle-down {
  display: inline-block;
  background: no-repeat url(src/img/angle-down.png);
  margin: 0 auto;
  text-indent: -9999px;
  width: 25px;
  height: 11px;
}

.banner-left-bottom {
  padding: 0;
  color: white;
}

.banner-left-bottom a.banner-header {
  display: inline-block;
  margin-bottom: 1rem;
}

.banners-center {
  padding: 0;
}

.banner-center-center > div {
  position: relative;
}

.banner-center-top .banner-content {
  padding: 0.5rem 1.5rem;
  padding-right: 10rem;
  color: white;
}

.banner-center-top .banner-header {
  font-size: 1.7rem;
  margin: 0;
}

.banner-center-top .banner-text {
  font-size: 0.9rem;
}

.banner-center-center .banner-content {
  background-color: #f8f8f8;
  padding: 0.7rem 1rem;
}

.banner-center-center .banner-header {
  margin: 0;
}

.banner-center-center .banner-text {
  margin: 0.3rem 0;
  font-size: 0.8rem;
}

.banner-header-2 {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: .7rem;
  margin-bottom: 0;
}

.banners-right > div {
  background-color: #f8f8f8;
}

.banner-right-top {
  padding: 0;
}

.banner-right-top .banner-content {
  padding: 0 1rem;
}

.banner-right-top .banner-text {
  margin-top: .3rem;
}

.banner-right-top img {
  max-width: 100%;
}

.banner-right-center {
  padding: 0;
}

.banner-right-center .banner-content {
  padding: 0 1rem;
}

.banner-right-center .banner-text {
  padding: 0 .4rem;
}

.banner-right-center .poll-choice {
  margin-left: 1rem;
}

.submit-btn {
  max-width: 100%;
  width: 9999px;
  background-color: #232c3a;
  padding:  .5rem 0;
  border: none;
  font-family: Intro-Bold;
  text-transform: uppercase;
  color: white;
  font-size: 1rem;
}

.submit-btn:hover {
  cursor: pointer;
}

.footer .left-col {
  padding-left: 1.5rem;
  font-size: 0.8rem; 
}

.footer .right-col {
  padding-right: 1.5rem;
}

footer {
  margin-top: 4rem;
}

footer .right-col a {
  display: inline-block;
  margin: 2rem 1rem;
}

footer .right-col a:first-child {
  margin-left: 0;
}

footer .right-col a:last-child {
  margin-right: 0;
}
