.navbar {
  background-color: #232c3a;
  padding: 1rem 1.2rem;
  margin-bottom: 1.7rem;
}

.header-img {
  background-image: url(src/img/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 15.7rem;
  margin-top: -.5rem;
}

.navbar a {
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  padding: 1rem 1.8rem;
  color: white;
}

.navbar a:focus {
	outline: none;
}

.navbar a:link, .navbar a:visited {
  text-decoration: none;
  color: white;
}

.navbar a:hover {
	border-bottom: 0.2rem solid white;
	padding-bottom: .8rem;
}

.searcher-wrapper:hover .searcher-input {
	-webkit-box-shadow: 0 0 .2rem #232c3a;
  -moz-box-shadow: 0 0 .2rem #232c3a;
	box-shadow: 0 0 .2rem #232c3a;
  clip-path: inset(-5px 0px -5px -5px);
}

.searcher-wrapper:hover .searcher-btn-wrapper {
	-webkit-box-shadow: 0 0 .2rem #232c3a;
  -moz-box-shadow: 0 0 .2rem #232c3a;
	box-shadow: 0 0 .2rem #232c3a;
  clip-path: inset(-5px -5px -5px 0px);
}

.searcher-btn-wrapper {
	background-color: #f8f8f8;
	border: .1rem solid #f8f8f8;
	margin-left: -1rem;
	margin-bottom: -.25rem;
}

.searcher-input {
	background-color: #f8f8f8;
	width: 97%;
	height: 100%;
	border: .1rem solid #f8f8f8;
	padding-left: 1.1rem;
	font-size: 1.3rem;
}

.searcher-submit-btn {
	background-color: #f8f8f8;
	border: none;
	text-align: center;
	height: 100%;
}

.searcher-submit-btn img {
	padding: .5rem 0;
}

.news {
	margin-top: 2.3rem;
}

.banner__left1 {
	background-color: #CFCFCF;
	margin: 0 0.8rem;
}

.banners__middle .banner__middle1 {
	background-image: url(src/img/banner__middle1.png);
	background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
}

.banners__middle .banner1-text {
	padding-top: 10rem;
}

.banners__middle .banner__middle2 img {
	background-repeat: no-repeat;
}

.ratings img {
	margin: 2rem 2rem;
	margin-left: 0;
}

.ratings img:last-child {
	margin-right: 0;
}
